numpy==1.26.4
pandas
scipy==1.11.4
imblearn
torch
torchvision
torchaudio
scikit-learn
optuna

cleantext
nltk
tokenizers
gensim
navec
razdel
pymorphy3

# Jupyter
jupyterlab==4.1.5
notebook==7.1.2
ipykernel

# Визуализация
matplotlib
seaborn
